*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 600px;
    margin: 0;
    background-color: #94D7F1;
    color: black;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  h1{
    margin: 1em auto;
    font-size: 25px;
    background-color: white;
    color: #6092EE;
  }
  
  .formularioAlejandro{
    margin-top: 5%;
    border-color: 2px solid #6092EE;
  }

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1% 2em 2em 2em;
    background-color: #ffffff;
  }
  

  label {
    display: block;
    margin: 0.5rem 0;
    background-color: #ffffff;
  }
  
  input{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    color: black;
  }
  
  .buttons {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #6092EE;
    border-color: white;
    min-width: 10px;
    color: white;
  }
  
  
  
  