  <body>
    <div class="formularioAlejandro">
    <form>
      <h1>REGISTRO DE PROVEEDOR</h1>
        <label for="id">Ingrese el ID del proveedor: <input id="id" name="id" type="text" required /></label>
        <label for="telf">Ingrese el telefono: <input id="telf" name="telf" type="text" placeholder="76823818" required /></label>
        <label for="email">Ingrese el Email: <input id="email" name="email" type="email" placeholder="ejemplo@gmail.com" required /></label>
        <label for="direc">Ingrese la dirección: <input id="direc" name="direc" type="direc" placeholder="AV/Mendezarcos" required /></label>
      <input class="buttons" type="submit" value="Create" />
      <input class="buttons" type="submit" value="Read" />
      <input class="buttons" type="submit" value="Update" />
      <input class="buttons" type="submit" value="Delete" />
    </form>
  </div>
  </body>